@import '../../__data__/style/colors.css';

.wrapper{

   .subtitle{
       color: var(--grey-3);
       font-size: 16px;
   }

    .title{
        color: var(--black);
        font-weight: 600;
        font-size: 30px;
        margin: 0;
    }
}