@import '../../__data__/style/colors.css';

.main {
    border-radius: 5px;
    min-height: 56px;
    color: var(--white);
    border: none;
    font-family: Jura;
    font-style: normal;
    line-height: 19px;
    font-weight: 600;
    font-size: 16px;

    &:focus {
        outline-color: var(--black);
    }
}

.purple {
    background-color: var(--purple-4);
}

.blue {
    background-color: var(--blue-4);
}

.green {
    background-color: var(--green-3);
}
