@import '../../../__data__/style/colors.css';
@import '../../../__data__/style/sizes.css';

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;


    .sidebar {
        background-color: var(--grey-1);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .sidebarContent {
            display: flex;
            flex-direction: column;
            height: 100%;

            .logo {
                width: 156px;
                height: 30px;
            }

            .offset {
                margin: 32px 0 0 32px;
            }

            > .offset-md {
                margin-top: 50px;
            }


            .email-form {
                padding: 0 var(--offset-lg) 0 var(--offset-lg);
                background-color: var(--white);
                width: 544px;
                height: 420px;
                border-radius: 12px;
                margin-top: auto;
                margin-bottom: auto;
                display: flex;
                flex-direction: column;
                box-shadow: 0 26px 24px -26px rgba(0, 0, 0, 0.25), 0 -12px 12px -12px rgba(0, 0, 0, 0.1);

                @media (--media-sm) {
                    padding: 0 20px;
                }

                .cancel {
                    color: var(--black);
                    font-size: 20px;
                    text-decoration: none;
                    text-align: center;
                    padding: var(--offset-xs) 0;
                    margin-top: var(--offset-xs);
                    border-radius: 10px;

                    &:hover {
                        background-color: var(--white-2);
                    }

                }
            }
        }
    }

    .rightPanel {
        margin-left: auto;
        min-width: 576px;

    }
}