.wrapper {
    margin-top: 50px;

    > .login-form {
        background-color: var(--white);
        max-width: 416px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: var(--offset-md);

        @media (--media-sm) {
            padding: 0 20px;
        }
    }

}