@import '../../__data__/style/colors.css';


.wrapper{

    display: flex;
    align-items: center;
    justify-content: center;

    .message{
        color: var(--black);
        font-weight: 600;
        font-size: 24px;
        max-width: 394px;
    }
}