@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';
@import '../../__data__/style//media.css';

.wrapper {
    margin-top: 50px;
    display: flex;
    max-width: 1940px;
    margin: 0 auto;

    > .login-form {
        background-color: var(--white);
        min-width: 414px;
        margin: 0 auto;
        padding: var(--offset-md2);
        display: flex;
        flex-direction: column;

        @media (--media-sm) {
            padding: var(--offset-md);
        }
    }

    .logo {
        max-height: var(--offset-md);
        padding-right: 10px;
    }

    .mark {
        color: var(--purple-4);
        margin: 0;
        display: flex;
        align-items: center;
        color: var(--purple-8);
        font-size: 24px;
        line-height: 31px;
        font-weight: 300;
        font-family: 'Allerta Stencil', sans-serif;
    }


    .login-field {
        margin-top: calc(2 * var(--offset-lg));
    }

    .offset-md {
        margin-top: var(--offset-md);
    }
}
