:root {
    --cool-gray: #d6d6d6;

    --white-2: #f3f3f4;

    --purple-8: #5723AA;
    --purple-4: #a059d8;

    --green-4: #0b8940;
    --green-3: #08A652;

    --red-7: #e14848;
    --red-4: #ffa4a4;
    --red-2: #fdd6d6;
    
    --blue-4: #5285ec;


    --white: #ffffff;
    --black: #262626;


    --grey-1: #FAFAFA;
    --grey-2: #D6D6D6;
    --grey-3: #8C8C91;
}
