@import '../../__data__/style/media.css';

.wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    min-height: 100vh;

    .image {
        position: absolute;
        right: 0;
        max-width: 100%;
        min-width: 380px;
        width: 100%;
    }

    @media (--media-sm) {
        visibility: hidden;
        width: 0;
    }
}

.size {
    &-lg {
        max-width: 1026px;
    }
    
    &-md {
        max-width: 576px;
    }

    /* TODO: Дописать остальное по необходимости */
    &-sm {
    }

    &-xs {
    }
}